<div class="row">
 <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">



<div> 
  <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Sub-title</th>
            <th id="created-at">Date Created</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @all_articles.each do |a| %>
          <tr>
            <td><%= a.id %></td>
            <td><%= a.title %></td>
            <td><%= a.sub_title %></td>
            <td id="created-at"><%= a.created_at %></td>
            <td><a href="/knowledgebase/<%= a.id %>">view</a></td>  
            <% if admin? %>
            <td><a href="/knowledgebase/<%= a.id %>">edit</a></td>
            <% end %>
          </tr>
          <% end %>
         </tbody>
  </table> 
</div>



  </div>

 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
 <div id="tagbar-help">
  <%= render 'knowledgebase/tagbar' %> <br />
 </div>
  <%= render 'knowledgebase/sort_bar' %>

  </div>
</div>
